* {
    max-width: 100vw
}

html, body {
    max-width: 100%;
    height: auto;
}

#circle {
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.scoredisplay {
    margin-top: 200px;
}

.container {
    width: 100vw;
    height: 100vh;
}

.ringring {
    background-color: #212121;
    -webkit-border-radius: 50%;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.gamemode {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: lightblue;
}

.kast {
    position: absolute;
    right: 0;
    top: 0;
    background-color: lightblue;
    height: 50vh;
    width: 300px;
}